<!-- <div class="col-sm-4 mt-5">
    <div class="card">
        <img class="card-img-top" src="<%=member._personalImage%>"" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" id="mstt"><%= member._mstt %></p>
          <p class="card-text" id="memberName"><%= member._memberName %></p>
          <ul class="card-text">
          <%member._unitPosition.split(",").map( (item) => {%>
            <li> <%= item.trim() %></li>
          <%})%>
          </ul>
        </div>
      </div>
</div> -->